.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar h2 {
    color: #fff;
    padding-left: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    margin-left: 200px; /* Adjust according to sidebar width */
    padding: 16px;
}

.course-details {
    display: none;
}

.course-details.active {
    display: block;
}
/* Back to Home button styles */
.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-to-home:hover {
    background-color: #555;
}